body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.flex-item{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 0% 5% 5% 5%;
}
.top-area-pic img{
    width: 100%;
    padding-top: 25px;
}

h1{
    font-size: 50px;
    line-height: 25px;
    color: #575757;
}
.gray-color{
    color: #575757;
}
.orange-color{
    color: #fb9048;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, #fc9149, #fd5332);
    padding: 15px 30px;
    border-radius: 25px;
}
.top-area{
    padding-top: 115px;
}
.about-me-background{
    background: url(images/about-me-background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.about-me-pic img{
    width: 60%;
    padding: 50px 0px 0px 90px;
}
.about-me-area{
    padding-top: 80px;
}
.full-recipies-area{
    margin: 0% 5% 5% 5%;
}
.my-recipies-area{
    text-align: center;
    margin: 0% 20%;
}
.post-width{
    width: 27%;
}
.post-width img{
    width: 100%;
}
.post-box{
    box-shadow: 5px 7px 30px gray;
    border-radius: 25px;
    padding: 15px;
    margin: 25px;
}
.full-contact-me-area{
    margin: 7%;
}
.contact-me{
    text-align: center;
    margin: 0% 10%;
}
.contact-me-form input, .contact-me-form textarea, .contact-me-form .button{
    width: 50%;
    margin: 0px 0px 10px 25%;
    padding: 10px;
    border: 1px solid #fb9048;
    border-radius: 25px;
}
.contact-me-form .button{
    width: 10%;
}
.footer-area{
    text-align: center;
    background-color: black;
    padding: 15px 0px 50px 0px;
}
.footer-area small{
    color: white;
}